In [23]:
%%capture
%load_ext autoreload
%autoreload 2

%pip install -r requirements.txt

In [2]:
import pandas as pd

d:\anaconda3\envs\ame{{environment}}\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Vuelos

In [3]:
flights = pd.read_parquet("../resources/flights.parquet")
flights.head()

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0
1,efd86c996035dacdca7a0ccb2560dda1,XA-VIX,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-07-03 00:55:00,2023-07-03 04:55:00,186,197.0,109.0
2,6cfa1bbaa44f08fc7d3061f034a6a5ce,XA-VBV,AW,AS,MX Amigos y Familia,Ciudad Principal,2024-02-16 17:10:00,2024-02-16 17:55:00,220,NaN,NaN
3,dd0fad3248951d2f71d63e6279aeaa4b,XA-VBW,AW,AS,MX Amigos y Familia,Ciudad Principal,2023-06-26 15:15:00,2023-06-26 15:55:00,220,200.0,142.0
4,d0987ee648eea254063bfe2b39571b67,XA-VAP,BA,AB,Playa,Ciudad Principal,2023-02-10 08:40:00,2023-02-10 09:50:00,186,162.0,90.0

Escoger los datos de enero 2024

In [4]:
flights["STD"] = pd.to_datetime(flights["STD"])
flights["STA"] = pd.to_datetime(flights["STA"])

In [5]:
flights = flights[flights["STD"].dt.year == 2024]
flights = flights[flights["STD"].dt.month == 1]

In [6]:
# Registros nulos para cada campo
flights.isna().sum()

Flight_ID               0
Aeronave               99
DepartureStation        0
ArrivalStation          0
Destination_Type        0
Origin_Type             0
STD                     0
STA                     0
Capacity                0
Passengers          10614
Bookings            10614
dtype: int64

In [8]:
# Borrar los datos que no tienen Aeronave
flights = flights.dropna(subset=["Aeronave"])

In [10]:

flights_.isna().sum()

Flight_ID           0
Aeronave            0
DepartureStation    0
ArrivalStation      0
Destination_Type    0
Origin_Type         0
STD                 0
STA                 0
Capacity            0
Passengers          0
Bookings            0
dtype: int64

In [9]:
# Ordenar por fecha
flights = flights.sort_values(by="STD")

Se crea una columna de `Semana` y `Mes` para an√°lisis posteriores.

In [11]:

flights["Mes"] = flights["STD"].dt.month
flights["Semana"] = flights["STD"].dt.isocalendar().week
flights["DiaSemana"] = flights["STD"].dt.weekday + 1
flights["Hora"] = flights["STD"].dt.hour
flights

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,Mes,Semana,DiaSemana,Hora
4663,5af600e8e3131804971e9764659a4e50,XA-VIY,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 00:05:00,2024-01-01 05:05:00,186,NaN,NaN,1,1,1,0
54136,aa14abe062912b5497a400a8f3473407,XA-VBT,BM,AO,Ciudad Principal,Ciudad Fronteriza,2024-01-01 00:30:00,2024-01-01 05:25:00,220,NaN,NaN,1,1,1,0
182265,803b0d7b2c8ae03f9f098eb1686d683a,XA-VXJ,BM,BB,Ecoturismo,Ciudad Fronteriza,2024-01-01 00:55:00,2024-01-01 06:40:00,240,NaN,NaN,1,1,1,0
9935,479ec62310c8a89c85914816e29e81ec,XA-VAA,BM,AD,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 01:00:00,2024-01-01 05:50:00,186,NaN,NaN,1,1,1,1
172070,26a1ddf4c763fc84f7734ef5308cf6de,XA-VAP,BM,BA,Ciudad Principal,Ciudad Fronteriza,2024-01-01 01:00:00,2024-01-01 06:15:00,186,NaN,NaN,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88594,9638d94e4b194131b997c19cbc916a56,XA-VYB,BM,AT,Ciudad Principal,Ciudad Fronteriza,2024-01-31 23:10:00,2024-02-01 04:30:00,180,NaN,NaN,1,5,3,23
8296,143545b396e3e834ff3801bb05625895,XA-VAN,AW,AD,MX Amigos y Familia,Ciudad Principal,2024-01-31 23:15:00,2024-02-01 00:30:00,186,NaN,NaN,1,5,3,23
88144,89f96374720a6eb33f00e3af58343d35,XA-VII,AK,AT,Ciudad Principal,Playa,2024-01-31 23:25:00,2024-02-01 00:45:00,186,NaN,NaN,1,5,3,23
52648,3c9940bf435f248ac8e62bde1fe79b70,9H-SWI,BM,AO,Ciudad Principal,Ciudad Fronteriza,2024-01-31 23:50:00,2024-02-01 04:40:00,178,NaN,NaN,1,5,3,23
106750,5c60309f41e0c86e1f53afeef19e11f3,XA-VXO,BM,AT,Ciudad Principal,Ciudad Fronteriza,2024-01-31 23:55:00,2024-02-01 05:15:00,240,NaN,NaN,1,5,3,23

In [12]:
flights["HourDuration"] = (flights["STA"] - flights["STD"]).dt.total_seconds() / 3600
flights.head()

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,Mes,Semana,DiaSemana,Hora,HourDuration
4663,5af600e8e3131804971e9764659a4e50,XA-VIY,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 00:05:00,2024-01-01 05:05:00,186,NaN,NaN,1,1,1,0,5.000000
54136,aa14abe062912b5497a400a8f3473407,XA-VBT,BM,AO,Ciudad Principal,Ciudad Fronteriza,2024-01-01 00:30:00,2024-01-01 05:25:00,220,NaN,NaN,1,1,1,0,4.916667
182265,803b0d7b2c8ae03f9f098eb1686d683a,XA-VXJ,BM,BB,Ecoturismo,Ciudad Fronteriza,2024-01-01 00:55:00,2024-01-01 06:40:00,240,NaN,NaN,1,1,1,0,5.750000
9935,479ec62310c8a89c85914816e29e81ec,XA-VAA,BM,AD,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 01:00:00,2024-01-01 05:50:00,186,NaN,NaN,1,1,1,1,4.833333
172070,26a1ddf4c763fc84f7734ef5308cf6de,XA-VAP,BM,BA,Ciudad Principal,Ciudad Fronteriza,2024-01-01 01:00:00,2024-01-01 06:15:00,186,NaN,NaN,1,1,1,1,5.250000

In [13]:
flights["HourDuration"].describe()

count    10515.000000
mean         2.052817
std          1.140121
min          0.333333
25%          1.333333
50%          1.666667
75%          2.500000
max          7.416667
Name: HourDuration, dtype: float64

In [14]:
(flights["HourDuration"] > 5).sum()

322

Se incluyen vuelos de itinerario sumados como hasta 27+ horas de viaje. Esto parece un error en los datos, por lo que se eliminan estos registros los cuales √∫nicamente representan el 1500 de alrededor de 121,724 de los datos.

In [15]:
flights = flights[flights["HourDuration"] <= 5]
flights

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,Mes,Semana,DiaSemana,Hora,HourDuration
4663,5af600e8e3131804971e9764659a4e50,XA-VIY,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 00:05:00,2024-01-01 05:05:00,186,NaN,NaN,1,1,1,0,5.000000
54136,aa14abe062912b5497a400a8f3473407,XA-VBT,BM,AO,Ciudad Principal,Ciudad Fronteriza,2024-01-01 00:30:00,2024-01-01 05:25:00,220,NaN,NaN,1,1,1,0,4.916667
9935,479ec62310c8a89c85914816e29e81ec,XA-VAA,BM,AD,MX Amigos y Familia,Ciudad Fronteriza,2024-01-01 01:00:00,2024-01-01 05:50:00,186,NaN,NaN,1,1,1,1,4.833333
224883,70421e6ba442558506268c40c74591b7,XA-VBN,AT,BM,Ciudad Fronteriza,Ciudad Principal,2024-01-01 05:00:00,2024-01-01 06:45:00,220,NaN,NaN,1,1,1,5,1.750000
201784,eee6a10c75fad310ae7df1f9b48a8382,XA-VYF,AT,BG,MX Amigos y Familia,Ciudad Principal,2024-01-01 05:30:00,2024-01-01 07:10:00,180,NaN,NaN,1,1,1,5,1.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158016,19154c4c5656de204e718d85ff99c37d,XA-VAC,AK,AW,Ciudad Principal,Playa,2024-01-31 22:55:00,2024-02-01 00:30:00,180,NaN,NaN,1,5,3,22,1.583333
228457,957466113904c8902ca4cc4ed2ef27ad,XA-VXM,AO,BM,Ciudad Fronteriza,Ciudad Principal,2024-01-31 23:00:00,2024-02-01 00:05:00,240,NaN,NaN,1,5,3,23,1.083333
8296,143545b396e3e834ff3801bb05625895,XA-VAN,AW,AD,MX Amigos y Familia,Ciudad Principal,2024-01-31 23:15:00,2024-02-01 00:30:00,186,NaN,NaN,1,5,3,23,1.250000
88144,89f96374720a6eb33f00e3af58343d35,XA-VII,AK,AT,Ciudad Principal,Playa,2024-01-31 23:25:00,2024-02-01 00:45:00,186,NaN,NaN,1,5,3,23,1.333333
52648,3c9940bf435f248ac8e62bde1fe79b70,9H-SWI,BM,AO,Ciudad Principal,Ciudad Fronteriza,2024-01-31 23:50:00,2024-02-01 04:40:00,178,NaN,NaN,1,5,3,23,4.833333

In [16]:
flights.to_parquet("../resources/flightstest_clean.parquet", index=False)

## Ventas

In [ ]:
sales = pd.read_parquet("../resources/sales.parquet")

In [ ]:
sales.head()

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
4,7396e43fb94caca87add7bb1f1611e7e,Vivabus,Vivabus_Gdl.-Nvo. C. Camionera,4,320.0

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564361 entries, 0 to 2564360
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
 4   TotalSales   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.8+ MB

In [ ]:
sales.describe()

           Quantity    TotalSales
count  2.564361e+06  2.564361e+06
mean   2.519319e+00  1.110370e+02
std    2.829032e+00  1.736604e+02
min    1.000000e+00 -3.234000e+03
25%    1.000000e+00  4.500000e+01
50%    2.000000e+00  8.000000e+01
75%    3.000000e+00  1.440000e+02
max    8.500000e+01  1.290000e+04

In [ ]:
sales["Flight_ID"].value_counts().head(10)

Flight_ID
09a295c868301fe15df13d8411cd4d37    73
4c65ba84403c407f59258b9ad414e40d    73
a44008629d97a1b4c9b6e0980ae8b11a    73
edbdab3c1c0df3d2b2213343fb9144eb    73
b6a39758032c87d2e315889e36b97277    72
14069ac4ad5e26456a8f103484b84774    71
ab6dc691f1869a7c60dfd306ea408cdf    71
fd0e971f1c0af6e01be0cec64326d09b    70
c09524fd81d49de6643b61b31bae4864    69
722a5e63351b62bc5e95488f77f1c84e    69
Name: count, dtype: int64

In [ ]:
# Se eliminan valores nulos pero
# realmente no hay
sales.dropna(inplace=True)

In [ ]:
sales["ProductType"].value_counts()

ProductType
Botanas                 613793
Refrescos               585118
Specials                395760
Licores                 304987
Perecederos             181990
Galletas                143928
Bebidas Calientes       125235
Sopas                   115486
OFERTAS                  38384
Lacteos                  37755
Vivabus                   9819
Transportaciones CUN      3635
Hertz.                    2398
COMBOS CREW               2017
VIVA Taxis                1384
Transportaciones MTY      1220
VivaTransfer               435
Antros                     388
VIVA PLAY                  386
Transportaciones TLC       239
Alimentos Charter            4
Name: count, dtype: int64

Se eliminan aquellos tipos de producto que no son de inter√©s para el an√°lisis pues no son tangibles

In [ ]:
excluded_types = [
    "Specials",
    "OFERTAS ",
    "Vivabus",
    "Transportaciones CUN",
    "Hertz.",
    "COMBOS CREW",
    "VIVA Taxis",
    "Transportaciones MTY",
    "VivaTransfer",
    "Antros",
    "VIVA PLAY",
    "Transportaciones TLC",
    "Alimentos Charter",
]

sales = sales[~sales.ProductType.isin(excluded_types)]
sales["ProductType"].value_counts()

ProductType
Botanas              613793
Refrescos            585118
Licores              304987
Perecederos          181990
Galletas             143928
Bebidas Calientes    125235
Sopas                115486
Lacteos               37755
Name: count, dtype: int64

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2108292 entries, 0 to 2564360
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
 4   TotalSales   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 96.5+ MB

Se eliminan aquellas ventas que sean negaivas pues implican descuentos

In [ ]:
sales = sales[sales.TotalSales > 0]

In [ ]:
sales.drop(columns=["TotalSales"], inplace=True)

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2107861 entries, 0 to 2564360
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
dtypes: int64(1), object(3)
memory usage: 80.4+ MB

In [ ]:
sales.reset_index(inplace=True)

In [ ]:
# Usar nuevos datos de sales
sales.to_parquet("../resources/sales_cleaned.parquet")

c:\Users\Franco Mendoza\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):