In [28]:
import sys
import pickle

# Se agrega el path para poder importar los modulos locales
if "../" not in sys.path:
    sys.path.append("../")

import pandas as pd
import matplotlib.pyplot as plt

import shap

In [29]:
df = pd.read_parquet("../../resources/vuelos_sales_pred.parquet")

In [30]:
df = df[df["Duracion"] < 300]

In [31]:
# Columna de ceros
df["arrival_AB"] = 0

In [32]:
X = pd.read_parquet("../pasajeros/data/files2024Test.parquet")

In [33]:
X = X.groupby("Flight_ID").mean()

In [34]:
df.drop(columns=["Passengers", "Bookings"], inplace=True)

In [35]:
df["Passengers"] = X["Passengers"]
df["Bookings"] = X["Bookings"]

In [36]:
# open a model with pickle
with open("../productos/models/ModeloVentas.pkl", "rb") as file:
    model = pickle.load(file)

In [37]:
x = df[
    [
        "Bookings",
        "Passengers",
        "Semana",
        "Mes",
        "Capacity",
        "Duracion",
        "Hora",
        "Dia",
        "destino_amigosfamilia",
        "destino_ciudadfronteriza",
        "destino_ciudadprincipal",
        "destino_ecoturismo",
        "destino_playa",
        "origen_amigosfamilia",
        "origen_ciudadfronteriza",
        "origen_ciudadprincipal",
        "origen_ecoturismo",
        "origen_playa",
        "Book_Pass",
        "departure_AB",
        "departure_AD",
        "departure_AE",
        "departure_AF",
        "departure_AI",
        "departure_AJ",
        "departure_AK",
        "departure_AL",
        "departure_AM",
        "departure_AO",
        "departure_AP",
        "departure_AQ",
        "departure_AR",
        "departure_AS",
        "departure_AT",
        "departure_AU",
        "departure_AV",
        "departure_AW",
        "departure_AX",
        "departure_AY",
        "departure_AZ",
        "departure_BA",
        "departure_BB",
        "departure_BC",
        "departure_BD",
        "departure_BE",
        "departure_BF",
        "departure_BG",
        "departure_BH",
        "departure_BJ",
        "departure_BK",
        "departure_BL",
        "departure_BM",
        "departure_BN",
        "departure_BO",
        "departure_BP",
        "departure_BQ",
        "departure_BS",
        "departure_BT",
        "arrival_AB",
        "arrival_AD",
        "arrival_AE",
        "arrival_AF",
        "arrival_AI",
        "arrival_AJ",
        "arrival_AK",
        "arrival_AL",
        "arrival_AM",
        "arrival_AO",
        "arrival_AP",
        "arrival_AQ",
        "arrival_AR",
        "arrival_AT",
        "arrival_AU",
        "arrival_AV",
        "arrival_AW",
        "arrival_AX",
        "arrival_AY",
        "arrival_AZ",
        "arrival_BA",
        "arrival_BB",
        "arrival_BC",
        "arrival_BD",
        "arrival_BE",
        "arrival_BF",
        "arrival_BG",
        "arrival_BH",
        "arrival_BJ",
        "arrival_BK",
        "arrival_BL",
        "arrival_BM",
        "arrival_BN",
        "arrival_BO",
        "arrival_BP",
        "arrival_BQ",
        "arrival_BS",
        "arrival_BT",
    ]
]

In [38]:
x["TotalSales"] = model.predict(x)

C:\Users\Franco Mendoza\AppData\Local\Temp\ipykernel_16380\2466981764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["TotalSales"] = model.predict(x)

In [39]:
x.to_parquet("pred2024.parquet")

In [40]:
# Conseguir el promedio semanal
semanal = x.groupby("Semana").mean()
semanal

,Bookings,Passengers,Mes,Capacity,Duracion,Hora,Dia,destino_amigosfamilia,destino_ciudadfronteriza,destino_ciudadprincipal,...,arrival_BK,arrival_BL,arrival_BM,arrival_BN,arrival_BO,arrival_BP,arrival_BQ,arrival_BS,arrival_BT,TotalSales
Semana,,,,,,,,,,,,,,,,,,,,,
1,100.422218,174.109421,1.0,209.567589,117.540711,13.475494,3.967589,0.175494,0.115810,0.463636,...,0.001186,0.016996,0.090514,0.019368,0.003557,0.024506,0.015020,0.003162,0.009486,3883.592041
2,108.974136,175.917252,1.0,209.630314,116.545287,13.173290,10.961183,0.176525,0.109057,0.488909,...,0.000924,0.013863,0.084104,0.022643,0.004159,0.021719,0.015250,0.001848,0.007856,3836.437744
3,111.227386,172.313126,1.0,208.544824,115.729569,12.846954,17.939574,0.178801,0.101040,0.492323,...,0.001486,0.012878,0.076275,0.022784,0.004458,0.022784,0.015354,0.001981,0.008420,3758.349609
4,108.154709,167.932480,1.0,207.411933,115.530310,13.144630,25.003819,0.178520,0.102148,0.494511,...,0.001432,0.013365,0.076372,0.024344,0.004296,0.022912,0.014797,0.001909,0.007637,3545.280762
5,106.932915,163.439987,1.0,205.288398,116.253039,13.246409,29.973481,0.175691,0.101657,0.500552,...,0.002210,0.013260,0.078453,0.023204,0.004420,0.022099,0.015470,0.001105,0.007735,3330.160889

In [41]:
# Conseguir el promedio mensual
mensual = x.groupby("Mes").mean()
mensual

,Bookings,Passengers,Semana,Capacity,Duracion,Hora,Dia,destino_amigosfamilia,destino_ciudadfronteriza,destino_ciudadprincipal,...,arrival_BK,arrival_BL,arrival_BM,arrival_BN,arrival_BO,arrival_BP,arrival_BQ,arrival_BS,arrival_BT,TotalSales
Mes,,,,,,,,,,,,,,,,,,,,,
1,106.848015,171.812393,2.658293,208.505302,116.38886,13.184804,15.390405,0.177082,0.10697,0.485329,...,0.001338,0.014311,0.081952,0.022238,0.004118,0.022959,0.015134,0.002162,0.008339,3722.51709

In [43]:
# COnseguir la suma semanal
semanal = x.groupby("Semana").sum()
semanal

,Bookings,Passengers,Mes,Capacity,Duracion,Hora,Dia,destino_amigosfamilia,destino_ciudadfronteriza,destino_ciudadprincipal,...,arrival_BK,arrival_BL,arrival_BM,arrival_BN,arrival_BO,arrival_BP,arrival_BQ,arrival_BS,arrival_BT,TotalSales
Semana,,,,,,,,,,,,,,,,,,,,,
1,254068.203125,440496.84375,2530,530206,297378.0,34093,10038,444,293,1173,...,3,43,229,49,9,62,38,8,24,9825488.0
2,235820.031250,380684.93750,2164,453640,252204.0,28507,23720,382,236,1058,...,2,30,182,49,9,47,33,4,17,8302051.5
3,224568.093750,347900.18750,2019,421052,233658.0,25938,36220,361,204,994,...,3,26,154,46,9,46,31,4,17,7588108.0
4,226584.109375,351818.53125,2095,434528,242036.0,27538,52383,374,214,1036,...,3,28,160,51,9,48,31,4,16,7427363.0
5,96774.289062,147913.18750,905,185786,105209.0,11988,27126,159,92,453,...,2,12,71,21,4,20,14,1,7,3013795.5

In [44]:
mensual = x.groupby("Mes").sum()
mensual

,Bookings,Passengers,Semana,Capacity,Duracion,Hora,Dia,destino_amigosfamilia,destino_ciudadfronteriza,destino_ciudadprincipal,...,arrival_BK,arrival_BL,arrival_BM,arrival_BN,arrival_BO,arrival_BP,arrival_BQ,arrival_BS,arrival_BT,TotalSales
Mes,,,,,,,,,,,,,,,,,,,,,
1,1037814.75,1668813.75,25820,2025212,1130485.0,128064,149487,1720,1039,4714,...,13,139,796,216,40,223,147,21,81,36156808.0